@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Wix+Madefor+Display:wght@500&display=swap');

body {
  font-family: Arial, sans-serif;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;
  background-color: #ffffff;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  width:350px;
}
  
.personal{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  font-size:15px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom:16.08px;
  margin-bottom: 20px;
}
.personalData{
  margin-top:20px;
  text-align: left;
  background-color: #001c30;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.imgDiv{
  margin-top:-20px;
  height:120px;
}
.imgDivBox{
  margin-left:auto;
  margin-right:auto;
  width:110px;
  height:70px;
  background-color: #64ccc5;
  display:flex;
  flex-direction: column-reverse;
}
img{
  border:10px solid;
  border-color: #001c30;
  position:relative;
  top:-47.5px;
}
.nameDiv{
  margin-left:-20px;
  margin-right:-20px;
  margin-top:20px;
  text-align: center;
  background-color: #64ccc5;
  color:black;
  font-family: 'Quicksand', sans-serif;
}
.list{
  color:#dafffb;
  list-style-type:none;
}
ul{
  padding-inline-start: 0px;
}
.container {
  border-radius: 10px;
  width: 320px;
  padding: 20px;
  text-align: center;
  background-color: #001c30;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 25px;
  margin:0px;
  margin-top:10px;
}
h3{
  margin:0px;
  margin-bottom:10px;
}


.tt{
  color:#dafffb;
  margin-bottom:10px;
}

.listDiv{
  display:flex;
  justify-content: center;

}

.header {
  margin-top:-20px;
}

.header h2 {
  font-size: 18px;
  color: #001c30;
}

.buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

button {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #64ccc5;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin: 0 5px 10px 5px;
  animation: fadeIn 1s ease forwards;
}

button:hover {
  background-color: #4ab3ac;
  
}

.hide{
  display: none;
}

#timetable #closeBtn{
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

#timetable #closeBtn button{
  background-color: #dafffb;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  font-size: medium;
  cursor: pointer;
}
#timetable #closeBtn button:hover{
  background-color: #bbebe6;
}

#timetable #timetableBtns{
  margin-top: 5px;
}

#timetable #timetableBtns button{
  width: 35%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #64ccc5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin: 0 5px 10px 5px;
}

.timetable-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 8px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  animation: fadeIn 1s ease forwards;
}

.timetable-day {
  display: grid;
  gap: 8px;
  /* border: 1px solid #dafffb; */
  height: min-content;
  padding: 8px;
  font-size: 16px;
  padding-top: 8px;
  /* border-radius: 8%; */
}

.day-header {
  font-weight: bold;
  background-color: #35a49d;
  color: black;
  padding: 5px;
  text-align: center;
  height: 40px; 
  border-radius:8px;
  transition:0.3s;
}

.class-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid blue;
  background-color: #64ccc5;
  padding: 5px;
  height: 85px; 
  border-radius:8px;
  transition: 0.3s;
}

.time {
  font-weight: bold;
  font-size: 16px; 
  padding-top: 8px;
}

.title {
  margin-top: 4px;
  font-size: 16px; 
}

.class-cell:hover {
  background-color: #dafffb;
  transform: scale(1.05);
}

.timetable-day:hover .day-header {
  background-color: #64ccc5;
  color: black;
}

.timetable-header {
  height: auto;
  padding: 8px;
}

#timetableGrid {
  opacity: 0;
  transition: opacity 2s;
}

.minus-btn-container {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: auto;
}

.minus-btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.add-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 2;
  align-items: center;
}

.add-btn {
  background-color: blue;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  visibility: visible;
  margin: 5px 2px 5px 2px;
}

input {
  width : 75%;
  font-size: 16px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  visibility: visible;
  margin: 5px 2px 5px 2px;
}

.txt-btn {
  width: 75%;
  font-size: 16px; 
  display: none;
  margin: 5px 2px 5px 2px;
}
