@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Wix+Madefor+Display:wght@500&display=swap');
body {
  font-family: Arial, sans-serif;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px; /* Adjust the height as per your preference */
  background-color: #ffffff;
  overflow: hidden;
  display:flex;
  flex-direction: column;
}
.personal{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  font-size:15px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom:16.08px;
  margin-bottom: 20px;
}
.personalData{
  margin-top:20px;
  text-align: left;
  background-color: #373c4f;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.imgDiv{
  margin-top:-20px;
  height:120px;
}
.imgDivBox{
  margin-left:auto;
  margin-right:auto;
  width:110px;
  height:70px;
  background-color: #b38add;
  display:flex;
  flex-direction: column-reverse;
}
img{
  border:10px solid;
  border-color: #373c4f;
  position:relative;
  top:-47.5px;
}
.nameDiv{
  margin-left:-20px;
  margin-right:-20px;
  margin-top:20px;
  text-align: center;
  background-color: #b38add;
  color:black;
  font-family: 'Quicksand', sans-serif;
}
.list{
  color:#f9daff;
  list-style-type:none;
}
ul{
  padding-inline-start: 0px;
}
.container {
  border-radius: 10px;
  width: 320px;
  padding: 20px;
  text-align: center;
  background-color: #373c4f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  overflow-y: auto;
}
h1{
  font-size: 25px;
  margin:0px;
  margin-top:10px;
}
h3{
  margin:0px;
  margin-bottom:10px;
}


.tt{
  color:#f9daff;
  margin-bottom:10px;
}

.listDiv{
  display:flex;
  justify-content: center;

}

.header {
  margin-top:-20px;
}

.header h2 {
  font-size: 18px;
  color: 373c4f;
}

.buttons {
  /* font-family: 'Quicksand', sans-serif; */
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

button {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #b38add;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9267bc;

}

.hide{
  display: none;
}