body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 490px;
}

.container {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
  
.header {
  margin-bottom: 7.5px;
}

.header h2 {
  font-size: 18px;
  color: #333;
}

.buttons button{
  width: 50%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4c7bfa;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin: 0 5px 10px 5px;
}

.buttons button:hover {
  background-color: #2656c8;
}

.minus-sign{
  visibility: hidden;
  border: solid 0 black;
  border-radius: 100%;
  color: white;
  background-color: red;
}

#timetable #closeBtn{
  text-align: right;
  margin-right: 40px;
  margin-top: 10px;
}

#timetable #closeBtn button{
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  font-size: medium;
  cursor: pointer;
}

.addBtn{
  border: solid 0 black;
  border-radius: 100%;
  color: white;
  background-color: #4c7bfa;
  margin-left: 5px;
  cursor: pointer;
}

#timetable #timetableBtns{
  margin-top: 5px;
}

#timetable #timetableBtns button{
  width: 35%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4c7bfa;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin: 0 5px 10px 5px;
}

#timetableGrid table{
  border-collapse: collapse;
  width: 450px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#timetableGrid tr,th{
  width: fit-content;
}

#timetableGrid input{
  width: 50px;
}